/* 清除浏览器对标签的默认样式 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
html,body,#app{
    height: 100%;
}
/* img{
    display: block;
} */
a{
    text-decoration: none;
    color: black;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
}
b,strong{
    font-weight: normal;
}
/* em,i{
    font-style: normal;
} */
table,tr,td{
    border: 1px solid black;
    /* 
        单元格和单元格之间的间距为0；cellspacing
        border-collapse:设置两个单元格的边框合为一个；
        
    */
    border-collapse: collapse;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/* 输入框 */
input{
    border: 1px solid;
    outline: none;
}


*{
    /* 禁止用户选中文字 */
    -webkit-user-select: none;
    /* 禁止长安弹出系统菜单 */
    -webkit-touch-callout: none;
    /* 禁止点击出现的透明灰色背景 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* 禁止用户改变字体大小 */
    -webkit-text-fill-color: 100%;
}

input{
    /* 按钮ios默认有圆角 */
    border-radius: 0;
    /* 默认input和button有背景 */
    /* -webkit-appearance: none; */

}

/* 修改提示文字的颜色 */
/* input::-webkit-input-placeholder{
    color:#000; 
   } */